<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
    <a class="navbar-brand" href="#">
    <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
    Vespa Sharing Club
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mr-autod-flex justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Find a Vespa </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Share a Vespa </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="btn btn-outline-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Learn More
        </a>

       
        <div class="dropdown-menu justify-content-end" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">How it works</a>
          <a class="dropdown-item" href="#">About us</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
    </form>
  </div>
</nav>